
@import "bootstrap";

body {
  max-width: 1000px;
  margin: auto;
  font-family: Ubuntu_Titling, sans-serif;
}

header {
 background-image: url(../images/c_200x200.png);
 background-repeat: no-repeat;
 height: 200px;
 padding-left: 230px;
 width: 100%;
 h1 {
    line-height: 200px;
  }
}


.intro {
  font-size: 1.1em;
}
