/*@font-face {
    font-family: Ubuntu_Titling;
    src: url(Ubuntu_Titling.ttf);
}*/

body {
  max-width: 1000px;
  margin: auto;
  font-family: Ubuntu_Titling, sans-serif;
}

header {
 background-image: url(../images/c_200x200.png);
 background-repeat: no-repeat;
 height: 200px;
 padding-left: 230px;
 width: 100%;
}

header h1 {
  line-height: 200px;
}

.intro {
  font-size: 1.1em;
}

.liens {
  border: 1px dotted gray;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.liens figure {
  width: 80%;
  padding: 3px;
}

.liens figure.small {
   width: 50%;
}

.liens figure img {
  width: 100%;
}

.liens a {
  text-decoration: none;
  color: #AD2C27;
}

.liens figure figcaption {
  display: none;
}
